# Database
*.db

# Logs
*.log

# Python
__pycache__/
*.pyc

# Uploads / temp
uploads/
temp_uploads/

# Build
build/

# Secrets
Secrets_Do Not Loose This Folder/

# Backups
Backups of versions/
*.zip

# DATA (CRITICAL)
data/

# OS
.DS_Store
Thumbs.db