<!DOCTYPE html>
<html>
<head>
<title>Email</title>
<link rel="icon" href="/static/favicon.ico">

<style>
body {
    margin:0;
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
}

.logo {
    position:fixed;
    top:15px;
    left:20px;
    color:#9fd3ff;
}

.container {
    margin-top:120px;
}

button {
    padding:12px 25px;
    background:#4da6ff;
    border:none;
    cursor:pointer;
}
</style>
</head>

<body>

<div class="logo">HiddenEdge</div>

<div class="container">
    <h2>Email</h2>

    <input type="email" id="email">

    <br><br>

    <button onclick="go()">Continue</button>
</div>

<script>
function go() {
    const email = document.getElementById("email").value;

    if (!email) {
        alert("Enter email");
        return;
    }

    localStorage.setItem("email", email);

    window.location.replace("/app");
}
</script>

</body>
</html>